.new-window {
  border: none;
  background-color: #202020;
  color: white;
}

.new-window:hover {
  color: rgb(0, 140, 255);
}

.new-win-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 10px;
}
