i {
  margin-right: 5px;
}
.container-fluid {
  position: relative;
}
.navbar-toggler {
  position: absolute;
  right: 60px;
  top: 28px;
  transform: translateY(-50%);
  border: none;
  --bs-navbar-toggler-focus-width: 0;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid;
  border-color: #797979;
  height: 30px;
  margin-right: 10px;
  padding: 0px 5px 0px 8px;
  transition: background-color 0.3s ease;
}

.navbar-toggler:hover {
  background-color: #2a2a2a;
  color: white;
}

.nav-item-login {
  display: flex;
  align-content: center;
}
.nav-link-login {
  position: absolute;
  right: 10px;
  top: 28px;
  transform: translateY(-50%);
}
.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 3px;
  border: 1px solid;
  border-color: #797979;
  height: 30px;
  margin-right: 10px;
  padding: 0px 5px 0px 8px;
  transition: background-color 0.3s ease;
}
.btn-login:hover {
  background-color: #2a2a2a;
  color: white;
}

.icon-menu {
  height: 16px;
  width: 18px;
  margin-left: 3px;
  padding-bottom: 2px;
}
