.news-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 450px;
  width: 800px;
  background-color: #202020;
  color: white;
  margin-bottom: 1px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.315);
  border-style: solid;
}

#carouselExampleAutoplaying {
  width: 750px;
  height: 200px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.static {
  display: flex;
  justify-content: center;
}

.static-news {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 180px;
  background-color: red;
}

.static-news-card {
  background-color: red;
  height: 180px;
  width: 375px;
}
